* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  max-width: 1070px;/* 画面幅が1070pxを越えるときは幅1070pxとして扱う */
  width: 100%;
  padding: 10px 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: #e1f4f3;/* かなり黒っぽい */
  /*opacity: 0.5;*/
  position :fixed;
  top: 0;
  z-index: 10;
}


.header-left h1 {
  line-height: 32.5px;
  padding: 0 25px;
  color: #706c61;
  float:right;
  display: block;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

.header-right h2 {
  line-height: 32.5px;
  padding: 0 25px;
  color: #706c61;
  display: block;
  float: left;
}
.fa-bars{
  display: none;
}

.main-wrapper{
  padding: 180px 0 100px 0;
  height: 500px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #706c61;
  text-align: center;
}
.aaa{
  height:100px;
}

footer {
  /*
  padding-top: 30px;
  padding-bottom: 20px;*/
  background-color: #e1f4f3;
}


@media all and (max-width: 1000px) {

  footer {
    text-align: center;
  }
}

@media all and (max-width: 750px) {
    .header-right a {
    display: none;
  }
  .fa-bars{
    display: block;
  }

}

@media all and (max-width: 670px) {
  .header-right a {
    display: none;
  }
  .fa-bars{
    display: block;
  }

  
}


/* book-diary用 */
/* #e1f4f3 #706c61 */
.book-main-wrapper {
  padding-top: 100px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #706c61;
  text-align: center;

}

.clear{
 clear:center;
  }
.reviews{
  background-color: none;
}
.review{
  margin: 15px 0;
  background-color: #333;
  float:center;
}
.date{
  color: #e1f4f3;
}
.book-title{
  color: #e1f4f3;
}
.star{
  color: #f6c90e;
}
.book-review {
  width: 80%;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: left
}
.book-review .ok{
  color: #e1f4f3;
}
.book-review .ng{
  color: #333;
}